*.o
*.la
*.lo
*.log
*.trs
.*.sw*
.ycm_extra_conf.py*
.ycm_extra_conf.pyc
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
cscope.*
depcomp
install-sh
libtool
ltmain.sh
manpages/cpufreqd.8
missing
stamp-h1
test-driver
src/cpufreqd
utils/cpufreqd-get
utils/cpufreqd-set

