Source: cpufreqd
Section: admin
Priority: optional
Maintainer: Mattia Dongili <malattia@debian.org>
Build-Depends: debhelper (>= 4.1.16), debconf (>= 1.2.9), libsensors-dev (>= 1:2.9.1), libcpufreq-dev
Standards-Version: 3.6.2

Package: cpufreqd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.0)
Conflicts: cpudyn, powernowd
Recommends: acpid
Suggests: cpufrequtils
Description: fully configurable daemon for dynamic frequency and voltage scaling
 cpufreqd is meant to be a replacement of the speedstep applet you can find on
 some other OS, it monitors the system status and selects the most appropriate
 CPU level.  It is fully configurable and easily extensible through the many
 available plug-ins (more to come).
 Despite its name it can be used to control also the NForce2-Atxp1 voltage
 regulator and the core and memory clock for NVidia cards (see README.Debian).
 .
 You need a CPUFreq driver and either APM, ACPI (a recent version) or PMU
 enabled in your kernel in order for this daemon to work.
 .
 Homepage: http://sourceforge.net/projects/cpufreqd
